doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Shopbase
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body.bg-gray-200
    nav
      a href=root_path class='logo' Shopbase
      = current_user.class.to_s
      ul
        - if user_signed_in? && current_user.class == Staff
          li
            = link_to('Logout(Staff)', destroy_staff_session_path, method: :delete)
        - else
          li
            = link_to('Login(Staff)', new_staff_session_path)
        - if user_signed_in? && current_user.class == Client
          li
            = link_to('Logout(Client)', destroy_client_session_path, method: :delete)
        - else
          li
            = link_to('Login(Client)', new_client_session_path)
    - if notice.present?
      p.notice= notice
    - if alert.present?
      p.alert= alert
    br/
    .container.mx-auto class="w-full md:w-1/2 lg:w-1/3"
      = yield
